div {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: hidden; 
}

div::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.container {display: flex;    overflow-x: visible;}
.container div {flex:  none; height: 16.666666666%;  
width: 16.666666666%;   margin: 5px; background-color: rgba(74,74,74,1); border-radius: 5px;}
