@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');		
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');	
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

@font-face {
  font-family: 'Bender Black Italic';
  src: local('Jovanny_Lemonad_-_Bender-BlackItalic[1].otf'),
		local('Jovanny_Lemonad_ _Bender BlackItalic[1].otf'),
     url('fonts/Jovanny_Lemonad_-_Bender-BlackItalic[1].otf'),
		format('opentype');
}
@font-face {
  font-family: 'Bender Italic';
  src: local('Jovanny_Lemonad_-_Bender-Italic[1].otf'),
		local('Jovanny_Lemonad_ _Bender Italic[1].otf'),
     url('fonts/Jovanny_Lemonad_-_Bender-Italic[1].otf'),
		format('opentype');
}
@font-face {
  font-family: 'Bender Black';
  src: local('Jovanny_Lemonad_-_Bender-Black[1].otf'),
		local('Jovanny_Lemonad_ _Bender Black[1].otf'),
     url('fonts/Jovanny_Lemonad_-_Bender-Black[1].otf'),
		format('opentype');
}

p{
  font-family: 'Bender Black Italic', sans-serif;
}

h1{
 font-family: 'Bender Black', sans-serif;
}
